<h1>Create a Recipe!</h1>

<% if flash[:error] %>
    <%= flash[:error] %>
<% end %>

<%= form_for @recipe do |f| %>
    Name: <%= f.text_field :name %><br>
    Cook Time: <%= f.number_field :cook_time %> :in minutes<br>
    Directions: <%= f.text_field :directions, size: "30x2" %><br>
    <p>Select a category:</p>
    <%= f.collection_select(:category_ids, Category.all, :id, :name, {include_blank: 'Select a category'}, { multiple: true, :style => "width:150px"}) %>

    <%= f.submit %>

    <% end %>