<h1>Create your account here!</h1>

<%= form_for @user do |f| %>
    Name: <%= f.text_field :name %><br>
    Email: <%= f.email_field :email %><br>
    Password: <%= f.password_field :password %><br>
    <%= f.submit %>
    <% end %>